<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Blog</h1>
<a th:href="@{/}">Back</a>
<form th:action="@{/edit}" method="post">
    <table border="1" style="width: 100%;">
        <tr>
            <th hidden>STT</th>
            <th>Title</th>
            <th>Content</th>
            <th>Action</th>
        </tr>
        <tr th:object="${blog}">
            <td hidden><input type="text" th:field="*{id}"></td>
            <td><input type="text" th:field="*{title}"></td>
            <td><input type="text" th:field="*{content}"></td>
            <td>
                <button type="submit">Update</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>